MarkupSafe==1.0
jinja2==2.10.1

aiohttp==3.4.1
async-timeout==3.0.0
attrs==18.1.0
chardet==3.0.4
idna==2.7
idna-ssl==1.1.0
multidict==4.3.1
yarl==1.2.6

peewee==3.6.4

asn1crypto==0.24.0
cffi==1.11.5
cryptography==3.2
pycparser==2.18
pymysql==0.9.2
six==1.11.0